@import './font.scss';
@import './table.scss';

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.row, .col {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 5rem;
}

main {
  .container {
    color: #000;
    padding: 8rem 0;
  }
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

#header {
  z-index: 100;
  color: #000;
  line-height: 1;
  .row {
      height: 5rem;
  }
  // h1 {
  //   font-family: 'SBAggroB', "NanumSquare", sans-serif;
  // }
}

footer {
  background: #eee;
  text-align: justify;
  .container {
    padding: 4rem 0;
  }
}

.statusSelected input[type="radio"] {
  display: none;
}

button.page-link, 
li.page-item.disabled {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif
}

.yaho {
  font-family: 'SBAggroB' !important;
}

.yellow {
  background: #FFEF6B;
}