@import './font.scss';

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.row, .col {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 4rem;
}

main, footer {
  .container {
    padding: 8rem 0;
  }
}

header {
  z-index: 100;
  .row {
      height: 4rem;
  }
}

.statusSelected input[type="radio"] {
  display: none;
}