@import './font.scss';
@import './table.scss';

// html,body,#app,#admin-page {
//   height: 100%;
// }

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  min-width: 1536px;
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset;
  -webkit-box-shadow: 0 0 0 1000px white inset;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active { transition: background-color 5000s ease-in-out 0s; }

.row, .col {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 5rem;
}

main {
  .container {
    color: #000;
    padding: 8rem 0;
  }
}

#admin-page {
  // position: relative;
  main {
    // position: absolute;
    // width: 100%;
    // left: 0;
    // top: 50%;
    // transform: translateY(-50%);
    .container {
      padding: 4rem 0;
    }
  } 
}

.btn:focus, .page-item button:focus {
  outline: none !important;
  box-shadow: none;
}

#header {
  z-index: 100;
  color: #000;
  line-height: 1;
  min-width: 1536px;
  .row {
      height: 5rem;
  }
  // h1 {
  //   font-family: 'SBAggroB', "NanumSquare", sans-serif;
  // }
}

footer {
  background: #eee;
  text-align: justify;
  .container {
    padding: 4rem 0;
  }
}

.statusSelected input[type="radio"] {
  display: none;
}

button.page-link, 
li.page-item.disabled {
  font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif
}

.yaho {
  font-family: 'SBAggroB' !important;
}

.yellow {
  background: #FFEF6B;
}

.yellow-underline {
  position: relative;
  display: inline-block;
  &::before {
    content: '';
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: -1;
    background: #FFEB00;
  }
}

.yellow-wrap {
  border: 4px solid #000;
  border-radius: 2rem;
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  position: relative;
  background: #fff;
  &::before {
    content: '';
    background: #FDDA00;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 4px solid #000;
    border-radius: 2rem;
    top: 2.5rem;
    left: 2.5rem;
  }
}

.yellow-wrap.title {
  border: 4px solid #000;
  border-radius: 2rem;
  padding: 1rem;
  width: fit-content;
  margin: 0 auto;
  position: relative;
  background: #fff;
  &::before {
    content: '';
    background: #FDDA00;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    border: 4px solid #000;
    border-radius: 2rem;
    top: 1rem;
    left: 1rem;
  }
}

.form-group label {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 900;
}

.sr-only{display:none !important}